body {
    padding: 0;
    margin: 0;
    background-color: silver;
}

.site-container {
    width: 1000px;
    background-color: #fff;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    padding: 10px;
}

    .site-header {
        width: 100%;
        height: 80px;
        background-color: yellow;
        margin-bottom: 10px;
    }

    .main-news-section {
        width: 100%;
        height: 500px;
        background-color: pink;
        margin-bottom: 10px;
        padding: 10px;
        box-sizing: border-box;
    }
    
        .main-news-section .left {
            width: calc(70% - 10px);
            height: calc(500px - 20px);
            background-color: aquamarine;
            float: left;
        }

        .main-news-section .right {
            width: calc(30% - 10px);
            height: calc(500px - 20px);
            background-color: red;
            float: right;
            
        }


    .news-sections {
        width: 100%;
        height: 500px;
        background-color: lime;
    }