* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: sans-serif;
}

.site-header {
    width: 100%;
    height: 151px;
    border-bottom: 1px solid rgb(90, 90, 90);;
}

.header-top {
    height: 105px;
    width: 100%;
    background-color: #e70000;
}

.content-container {
    width: 1255px;
    /* background-color: yellow; */
    margin: 0 auto;
}

.htop {
    height: 105px;
}

.btn-side-menu {
    width: 34px;
    height: 34px;
    border: none;
    background-color: transparent;
    background-image: url(kajgana/images/icon_menu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 35px;
    float: left;
    outline: none;
    cursor: pointer;
}

.header-logo {
    display: block;
    width: 243px;
    height: 56px;
    background-image: url(https://tocka.com.mk/tocka_design/images/logo.png);
    float: left;
    margin: 27px 0 0 471px;
}

.prognoza {
    float: right;
    margin-top: 23px;
}

.main-navigation {

}

    .main-navigation a {
        display: inline-block;
        text-transform: uppercase;
        color: #000;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
        padding: 5px 6px;
        border-right: 1px solid rgb(90, 90, 90);
        line-height: 20px;
        margin-top: 8px;
    }
                                                
    .main-navigation a:hover {
        background-color: rgb(186, 219, 172);
    }

    .main-navigation a:first-of-type {
        padding-left: 0;
    }

    .main-navigation a:last-of-type {
        border: none;
    }

    .main-navigation .menu-search {
        height: 46px;
        width: 34px;
        /* background-image: url(kajgana/images/icon_search.svg); */
        float: right;
        /* background-repeat: no-repeat; */
        /* background-position: center; */
        background-color: transparent;
        border: none;
        background-size: 60%;
        outline: none;
        box-sizing: border-box;
        padding: 8px 5px;
    }

    .main-navigation .menu-search:hover {
        background-color: rgb(90, 90, 90);
    }

    .main-navigation .menu-search:hover circle {
        stroke: #fff;
    }

    .main-navigation .menu-search:hover line {
        stroke: #fff;
    }

.main-container {
    background-color: yellow;
    margin-top: 20px;
}

/* .main-container:after {
    content: '';
    display: block;
    clear: both;
} */

.cleaner {
    display: block;
    clear: both;
}

    .main-container .main-left {
        width: 50%;
        background-color: pink;
        height: 100px;
        float: left;
    }

    .main-container .main-right {
        width: 50%;
        background-color: green;
        height: 100px;
        float: left;
    }

    .main-slider {
        width: 613px;
        height: 408px;
        position: relative;
    }

        .main-slider img {
            width: 100%;
        }

        .main-slider .slider-title {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            background-color: rgba(0, 0, 0, .8);
            box-sizing: border-box;
            padding: 10px;
            color: #fff;
            font-size: 24px;
            text-transform: uppercase;
        }

        .main-slider .slider-list {
            display: block;
            width: 99px;
            height: 30px;
            background-color: rgba(255, 255, 255, .8);
            position: absolute;
            top: 0;
            right: 0;
        }

        .main-slider .slider-list li {
            float: left;
            font-size: 22px;
            width: 33px;
            text-align: center;
        }
                            
        .main-slider .slider-list li:hover {
            color: red;
            cursor: pointer;
        }

    .main-left h2 {
        font-size: 30px;
        margin: 10px 0;
        box-sizing: border-box;
        padding-left: 20px;
        border-left: 5px solid red;
    }

    .main-left p {

    }